.shapeshift {
  // your styles here
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: -1;
  transform-origin: center;
  animation: rotateFrom 100s linear infinite;
}

@keyframes rotateFrom {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
