.barChart {
  display: flex;
  width: 100%;
  gap: 1px;
  overflow: hidden;
  .itemBar {
    flex: 1 1 auto;
    > span {
      // transform: rotate(90deg);
      color: var(--secondary-text-color);
      // background-color: var(--primary-color);
      line-break: auto;
      padding-left: 0;
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Number of lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.textInview {
  display: inline-block;
  animation: riseFromBottom 2s ease-out forwards;
  transform: translateY(100%);
}

@keyframes riseFromBottom {
  0% {
    transform: translateY(100%);
    // opacity: 0;
  }
  100% {
    transform: translateY(0);
    // opacity: 1;
  }
}
