.carousel {
  height: 80vh;
  position: relative;
  overflow: hidden;
  // your styles here
  .carousel_frame {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
  }
  .carousel_card {
    height: 80vh;
    width: 100%;
    box-sizing: border-box;
  }
  .btn_group {
    position: absolute;
    right: 10px;
    top: 50%;
    display: flex;
    flex-direction: column;
    button {
      background-color: transparent;
      border: 1px solid transparent;
      transition: background-color 0.2s cubic-bezier(0.76, 0.02, 1, 1);
      overflow: hidden;
      img {
        width: 100px;
        height: 40px;
        object-fit: cover;
        filter: grayscale(100%);
      }
    }
  }
}
